@include('layouts/main')

<div class="flex justify-center h-screen items-center bg-gray-100">
    <div class="w-full max-w-lg bg-white shadow-md rounded px-12 py-10 mb-6">
        <h1 class="text-center text-3xl font-semibold text-black mb-8">
            {{ i18n.t('auth.create_user.title') }}
        </h1>
        <form id="registerForm" action="/auth/register" method="POST">
            <!-- Nome Completo -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="full_name">
                    {{ i18n.t('auth.create_user.full_name') }}
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="full_name" 
                    type="text" 
                    placeholder="{{ i18n.t('auth.create_user.full_name_placeholder') }}" 
                    name="full_name" 
                    required>
                <p id="full_name_error" class="text-red-500 text-sm hidden">Este campo é obrigatório.</p>
            </div>
            <!-- E-mail -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    {{ i18n.t('auth.create_user.email') }}
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="email" 
                    type="email" 
                    placeholder="{{ i18n.t('auth.create_user.email_placeholder') }}" 
                    name="email" 
                    required>
                <p id="email_error" class="text-red-500 text-sm hidden">Por favor, insira um e-mail válido.</p>
            </div>
            <!-- Senha -->
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">

                    Sua senha
                </label>
                <div class="relative">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="password" 
                        type="password" 

                        placeholder="********" 
                        name="password" 
                        required>
                    <!-- Botão para alternar a visualização da senha -->
                    <button type="button" onclick="togglePassword('password', this)" class="absolute inset-y-0 right-0 px-4 py-2 text-gray-600">
                        👁️
                    </button>
                </div>

                <p id="password_error" class="text-red-500 text-sm hidden">A senha deve ter pelo menos 4 caracteres.</p>
            </div>
            <!-- Campo de Confirmação da Senha -->
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm_password">
                    Confirme sua senha
                </label>
                <div class="relative">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="confirm_password" 
                        type="password" 
                        placeholder="********" 
                        name="confirm_password" 
                        required>
                    <!-- Botão para alternar a visualização da confirmação de senha -->
                    <button type="button" onclick="togglePassword('confirm_password', this)" class="absolute inset-y-0 right-0 px-4 py-2 text-gray-600">
                        👁️
                    </button>
                </div>
            </div>
            <script>
                function togglePassword(id, el) {
                    const passwordField = document.getElementById(id);
                    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordField.setAttribute('type', type);
                    el.textContent = type === 'password' ? '👁️' : '🙈';
                }
            </script>
                <p id="confirm_password_error" class="text-red-500 text-sm hidden">As senhas não coincidem.</p>
            </div>
            <!-- Telefone -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
                    {{ i18n.t('auth.create_user.phone') }}
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="phone" 
                    type="text" 

                    placeholder="(21) 99999-9999" 
                    name="phone" 
                    required>
                <p id="phone_error" class="text-red-500 text-sm hidden">Apenas números e deve conter 11 dígitos, incluindo o DDD.</p>
            </div>
            <!-- Botão Criar Conta -->
            <div class="flex items-center justify-between">
                <button class="bg-black hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                    type="submit">
                    {{ i18n.t('auth.create_user.create_button') }}
                </button>
            </div>            
        </form>
        <div class="text-center mt-4">
            <span class="text-sm text-gray-600">{{ i18n.t('auth.create_user.already_have_account') }}</span>
            <a href="/auth/login" class="text-sm text-black-600 hover:underline">
                {{ i18n.t('auth.create_user.login_here') }}
            </a>
        </div>
    </div>
</div>

<script>
    function togglePassword(id, el) {
        const passwordField = document.getElementById(id);
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);

        // Altera o ícone para refletir se a senha está visível ou não
        el.textContent = type === 'password' ? '👁️' : '🙈';
    }

    document.getElementById('registerForm').addEventListener('submit', function(event) {
        let isValid = true;

        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm_password').value;
        const phone = document.getElementById('phone').value;

        // Valida se as senhas coincidem
        if (password !== confirmPassword) {
            document.getElementById('confirm_password_error').classList.remove('hidden');
            isValid = false;
        } else {
            document.getElementById('confirm_password_error').classList.add('hidden');
        }

        // Valida se a senha tem pelo menos 4 caracteres
        if (password.length < 4) {
            document.getElementById('password_error').classList.remove('hidden');
            isValid = false;
        } else {
            document.getElementById('password_error').classList.add('hidden');
        }

        // Valida o formato do telefone (apenas números, totalizando 11 dígitos)
        const phoneRegex = /^\d{11}$/;
        if (!phoneRegex.test(phone)) {
            document.getElementById('phone_error').classList.remove('hidden');
            isValid = false;
        } else {
            document.getElementById('phone_error').classList.add('hidden');
        }

        if (!isValid) {
            event.preventDefault();
        }
    });
</script>
