@include('layouts/main')

<div class="flex justify-center h-screen items-center bg-gray-100">
    <div class="w-full max-w-lg bg-white shadow-md rounded px-12 py-10 mb-6">
        <h1 class="text-center text-3xl font-semibold text-black-600 mb-8">
            Login
        </h1>
        <form action="/auth/store" method="POST">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Seu e-mail
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="email" 
                    type="email" 
                    placeholder="contato@progweb.com" 
                    name="email" 
                    required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Sua senha
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="password" 
                    type="password" 
                    placeholder="********" 
                    name="password" 
                    required>
            </div>
            <div class="mb-6 flex items-center">
                <input class="mr-2 leading-tight" type="checkbox" id="remember" name="remember">
                <label class="text-sm text-gray-700" for="remember">Manter-me logado</label>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-black hover:bg-white text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                    type="submit">
                    Logar
                </button>
            </div>            
        </form>
        <div class="text-center mt-4">
            <span class="text-sm text-gray-600">Ainda não tem conta?</span>
            <a href="/auth/create" class="text-sm text-black-600 hover:underline">Cadastre-se</a>
        </div>
    </div>
</div>
