@include('layouts/main')
    <div class="flex justify-center">
        @include('layouts/partials/hero')
    </div>

    <div class="flex justify-center">
            @component('components/product', { products: products })
            @endcomponent
    </div>
</body>

</html>
