<div id="webcrumbs" class="w-full bg-neutral-900 text-neutral-50 text-sm shadow-lg p-10">
    <div class="max-w-[1400px] mx-auto flex justify-between items-start">
        <div class="flex flex-col items-center gap-2">
            <h2 class="font-title font-bold">INSTITUCIONAL</h2>
            <hr class="w-full border-neutral-700" />
            <p>MKD</p>
        </div>

        <div class="flex flex-col items-center gap-2">
            <h2 class="font-title font-bold">INFORMAÇÕES</h2>
            <hr class="w-full border-neutral-700" />
            <ul class="space-y-1">
                <li>Fale conosco</li>
                <li>Dúvidas Frequentes</li>
                <li>Minha conta</li>
                <li>Meus pedidos</li>
                <li>Prazo de Entrega</li>
                <li>Política de Troca e Devolução</li>
                <li>Rastreio de Produtos</li>
            </ul>
        </div>

        {/* Atendimento */}
        <div class="flex flex-col items-center gap-2">
            <h2 class="font-title font-bold">ATENDIMENTO</h2>
            <hr class="w-full border-neutral-700" />
            <p>Horário de funcionamento:</p>
            <p>9h as 19h - Seg a Sex</p>
            <p>9h as 15h - Sab.</p>
            <p>Domingo e feriados - Fechado</p>
            <br />
            <p>MKD SKATE SHOP</p>
            <p>CNPJ: 29.257.671/0001-14</p>
            <p>Garibaldi 511 Centro</p>
            <p>Ribeirão Preto SP</p>
            <br />
            <p>Loja Física e Online</p>
            <p>10 Anos no Mercado</p>
        </div>

        <div class="flex flex-col items-center gap-2">
            <h2 class="font-title font-bold">MÍDIAS SOCIAIS</h2>
            <hr class="w-full border-neutral-700" />
            <div class="flex gap-5">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <p>Faça parte das nossas redes.</p>
        </div>
    </div>
</div>