<div id="webcrumbs" class="w-full bg-neutral-50 shadow-md">
	<div class="w-full mx-auto flex items-center justify-between py-2 px-6">
		<a href="{{ route('/') }}" class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
			<span class="text-4xl font-bold tracking-wider">MK</span>
		</a>
		<nav class="flex space-x-8">
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				LANÇAMENTOS
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				ACESSÓRIOS
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				BONÉS
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				CALÇADOS
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				ROUPAS
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				SKATE
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				MARCAS
			</a>
			<a href="#"
				class="text-sm font-medium tracking-wider text-neutral-900 hover:text-primary transition-colors">
				PROMOÇÕES
			</a>
		</nav>
		<div class="flex space-x-4">
			<i class="material-symbols-outlined">search</i>
			<a href="{{ route('/auth/login') }}" class="text-neutral-900 hover:text-primary transition-colors">
				<i class="material-symbols-outlined">person</i>
			</a>
			<a href="#" class="text-neutral-900 hover:text-primary transition-colors">
				<i class="material-symbols-outlined">shopping_bag</i>
			</a>
		</div>
	</div>
</div>