<div id="webcrumbs"> 
	<div class="w-full shadow-lg rounded-lg p-6 pb-0 bg-neutral-50">
	  <div class="flex justify-center mb-6">
	    <img src="https://images.tcdn.com.br/img/img_prod/476013/1727296057_acessorios_banner.png" alt="Fun AI Graphic" class="border-4 border-black border-b-0 rounded-t-md"/>
	  </div>
	</div> 
</div>